In [1]:
import pandas as pd

componentes = pd.read_csv('componentes-curriculares-presenciais.csv', sep=';')
componentes.head()

,id_componente,tipo_componente,codigo,nivel,nome,unidade_responsavel,ch_teorico,ch_pratico,ch_estagio,ch_total,...,ementa,bibliografia,objetivos,conteudo,competencias_habilidades,referencias,ano_programa,periodo_programa,modalidade,curso_componente
0,18642,DISCIPLINA,MUT721,T,LABORATÓRIOS ELETIVOS,ESCOLA DE MÚSICA,60,0,0,60,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Presencial,NaN
1,18643,DISCIPLINA,MUT508,T,COMPOSIÇÃO EM MÚSICA POPULAR III,ESCOLA DE MÚSICA,60,0,0,60,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Presencial,NaN
2,18644,DISCIPLINA,MUT516,T,CO-REPETIÇÃO,ESCOLA DE MÚSICA,30,0,0,30,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Presencial,NaN
3,18645,DISCIPLINA,MUT520,T,CONTRABAIXO ACÚSTICO I,ESCOLA DE MÚSICA,30,0,0,30,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Presencial,NaN
4,18646,DISCIPLINA,MUT165,T,PIANO COMPLEMENTAR I,ESCOLA DE MÚSICA,15,0,0,15,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Presencial,NaN

In [2]:
turmas = list()

for i in range(3, 8):
    str_dataset_1 = 'turmas-201' + str(i) +'.1.csv'
    str_dataset_2 = 'turmas-201' + str(i) +'.2.csv'
    turmas.append(pd.read_csv(str_dataset_1, sep=';'))
    turmas.append(pd.read_csv(str_dataset_2, sep=';'))
    
turmas_total = pd.concat(turmas)
turmas_total.columns

Index(['id_turma', 'codigo_turma', 'id_docente_interno', 'id_docente_externo',
       'observacao', 'id_componente_curricular', 'nivel_ensino',
       'campus_turma', 'local', 'ano', 'periodo', 'data_inicio', 'data_fim',
       'descricao_horario', 'total_solicitacoes', 'capacidade_aluno', 'tipo',
       'distancia', 'data_consolidacao', 'agrupadora', 'id_turma_agrupadora',
       'qtd_aulas_lancadas', 'situacao_turma', 'convenio',
       'modalidade_participantes', 'Unnamed: 25'],
      dtype='object')

In [9]:
alunos = list()

for i in range(3, 8):
    str_dataset_1 = 'matriculas-de-201' + str(i) +'.1.csv'
    str_dataset_2 = 'matriculas-de-201' + str(i) +'.2.csv'
    alunos.append(pd.read_csv(str_dataset_1, sep=';'))
    alunos.append(pd.read_csv(str_dataset_2, sep=';'))
    
alunos_total = pd.concat(alunos)
alunos_total.columns

Index(['Unnamed: 10', 'descricao', 'discente', 'faltas_unidade', 'id_curso',
       'id_turma', 'media_final', 'nota', 'numero_total_faltas', 'reposicao',
       'unidade'],
      dtype='object')

In [10]:
imd_unidade = 'INSTITUTO METROPOLE DIGITAL'
dim_unidade = 'DEPARTAMENTO DE INFORMÁTICA E MATEMÁTICA APLICADA'
prob_nome = 'PROBABILIDADE'
fmc1_nome = 'FUNDAMENTOS MATEMÁTICOS DA COMPUTAÇÃO I'
fmc2_nome = 'FUNDAMENTOS MATEMÁTICOS DA COMPUTAÇÃO II'
id_comp_prob = list(componentes[(componentes.nome == prob_nome) & ((componentes.unidade_responsavel == imd_unidade) | (componentes.unidade_responsavel == dim_unidade))]['id_componente'])
id_comp_fmc1 = list(componentes[(componentes.nome == fmc1_nome) & ((componentes.unidade_responsavel == imd_unidade) | (componentes.unidade_responsavel == dim_unidade))]['id_componente'])
id_comp_fmc2 = list(componentes[(componentes.nome == fmc2_nome) & ((componentes.unidade_responsavel == imd_unidade) | (componentes.unidade_responsavel == dim_unidade))]['id_componente'])
id_comp_fmc2

[52659, 52660, 2040951]

In [33]:
turmas_prob = list()
turmas_fmc1 = list()
turmas_fmc2 = list()

for id_prob in id_comp_prob:
    turmas_prob.append(turmas_total[(turmas_total.id_componente_curricular == id_prob) & (turmas_total.situacao_turma == 'CONSOLIDADA')])

for id_fmc1 in id_comp_fmc1:
    turmas_fmc1.append(turmas_total[(turmas_total.id_componente_curricular == id_fmc1) & (turmas_total.situacao_turma == 'CONSOLIDADA')])

for id_fmc2 in id_comp_fmc2:
    turmas_fmc2.append(turmas_total[(turmas_total.id_componente_curricular == id_fmc2) & (turmas_total.situacao_turma == 'CONSOLIDADA')])
    
turmas_prob = list(int(i) for i in pd.concat(turmas_prob)['id_turma'].unique())
turmas_fmc1 = list(int(i) for i in pd.concat(turmas_fmc1)['id_turma'].unique())
turmas_fmc2 = list(int(i) for i in pd.concat(turmas_fmc2)['id_turma'].unique())

turmas_fmc2

[1217967,
 1228411,
 1228412,
 1239537,
 1239541,
 57564855,
 57564858,
 57576738,
 57579587,
 57579588,
 57586396,
 57586397,
 57597922,
 57597928]

In [43]:
alunos_prob = list()
alunos_fmc1 = list()
alunos_fmc2 = list()

for id_turma_prob in turmas_prob:
    alunos_prob.append(alunos_total[alunos_total.id_turma == id_turma_prob])

for id_turma_fmc1 in turmas_fmc1:
    alunos_fmc1.append(alunos_total[alunos_total.id_turma == id_turma_fmc1])

for id_turma_fmc2 in turmas_fmc2:
    alunos_fmc2.append(alunos_total[alunos_total.id_turma == id_turma_fmc2])
    
alunos_prob = pd.concat(alunos_prob)
alunos_fmc1 = pd.concat(alunos_fmc1)
alunos_fmc2 = pd.concat(alunos_fmc2)
alunos_fmc2

,Unnamed: 10,descricao,discente,faltas_unidade,id_curso,id_turma,media_final,nota,numero_total_faltas,reposicao,unidade
136427,NaN,APROVADO POR NOTA,00bd67a601192f51da746e41e60815c7,0.0,92127264.0,1217967,5.0,5.5,6.0,f,1.0
136428,NaN,APROVADO POR NOTA,00bd67a601192f51da746e41e60815c7,0.0,92127264.0,1217967,5.0,5.0,6.0,f,2.0
136429,NaN,APROVADO POR NOTA,00bd67a601192f51da746e41e60815c7,0.0,92127264.0,1217967,5.0,4.5,6.0,f,3.0
136430,NaN,APROVADO,fdf1f636486a3ad1d7bd6cc303c6c32a,0.0,92127264.0,1217967,7.1,5.0,0.0,f,1.0
136431,NaN,APROVADO,fdf1f636486a3ad1d7bd6cc303c6c32a,0.0,92127264.0,1217967,7.1,8.2,0.0,f,2.0
136432,NaN,APROVADO,fdf1f636486a3ad1d7bd6cc303c6c32a,0.0,92127264.0,1217967,7.1,8.2,0.0,f,3.0
136433,NaN,REPROVADO,876c9810d6f4b25797d73c942f55764e,0.0,92127264.0,1217967,0.3,0.0,4.0,f,1.0
136434,NaN,REPROVADO,876c9810d6f4b25797d73c942f55764e,0.0,92127264.0,1217967,0.3,1.0,4.0,f,2.0
136435,NaN,REPROVADO,876c9810d6f4b25797d73c942f55764e,0.0,92127264.0,1217967,0.3,0.0,4.0,f,3.0
136436,NaN,REPROVADO,d624069cd2691821d497421eae79b0bc,0.0,92127264.0,1217967,4.6,5.5,25.0,f,3.0
136437,NaN,REPROVADO,d624069cd2691821d497421eae79b0bc,0.0,92127264.0,1217967,4.6,5.3,25.0,f,1.0
136438,NaN,REPROVADO,d624069cd2691821d497421eae79b0bc,0.0,92127264.0,1217967,4.6,3.0,25.0,f,2.0
136439,NaN,REPROVADO,da437177e090ab90ea33ba772cfbae03,0.0,92127264.0,1217967,3.9,2.5,6.0,f,1.0
136440,NaN,REPROVADO,da437177e090ab90ea33ba772cfbae03,0.0,92127264.0,1217967,3.9,2.4,6.0,f,2.0
136441,NaN,REPROVADO,da437177e090ab90ea33ba772cfbae03,0.0,92127264.0,1217967,3.9,6.7,6.0,f,3.0
136442,NaN,REPROVADO,63e97bc77196994b439cb853cea9d42d,0.0,92127264.0,1217967,0.6,1.6,15.0,f,1.0
136443,NaN,REPROVADO,63e97bc77196994b439cb853cea9d42d,0.0,92127264.0,1217967,0.6,0.0,15.0,f,2.0
136444,NaN,REPROVADO,63e97bc77196994b439cb853cea9d42d,0.0,92127264.0,1217967,0.6,0.1,15.0,f,3.0
136445,NaN,REPROVADO,a9d5358e13241d1fc953196fa2983412,0.0,92127264.0,1217967,2.3,3.5,14.0,f,1.0
136446,NaN,REPROVADO,a9d5358e13241d1fc953196fa2983412,0.0,92127264.0,1217967,2.3,2.3,14.0,f,2.0
136447,NaN,REPROVADO,a9d5358e13241d1fc953196fa2983412,0.0,92127264.0,1217967,2.3,1.0,14.0,f,3.0
136448,NaN,REPROVADO,dfc0b8035c1c5931710e65e92d91aa30,0.0,92127264.0,1217967,1.2,3.7,22.0,f,1.0
136449,NaN,REPROVADO,dfc0b8035c1c5931710e65e92d91aa30,0.0,92127264.0,1217967,1.2,0.0,22.0,f,2.0
136450,NaN,REPROVADO,dfc0b8035c1c5931710e65e92d91aa30,0.0,92127264.0,1217967,1.2,0.0,22.0,f,3.0
136451,NaN,REPROVADO,f054d7fa00c44158d02747a8a5c557e0,0.0,17848940.0,1217967,0.9,0.8,8.0,f,1.0
136452,NaN,REPROVADO,f054d7fa00c44158d02747a8a5c557e0,0.0,17848940.0,1217967,0.9,0.9,8.0,f,2.0
136453,NaN,REPROVADO,f054d7fa00c44158d02747a8a5c557e0,0.0,17848940.0,1217967,0.9,1.0,8.0,f,3.0
136454,NaN,REPROVADO,49f2cf9cba9f712bc1ffeddd47b8907f,0.0,92127264.0,1217967,1.7,2.0,5.0,f,1.0
136455,NaN,REPROVADO,49f2cf9cba9f712bc1ffeddd47b8907f,0.0,92127264.0,1217967,1.7,1.6,5.0,f,2.0
136456,NaN,REPROVADO,49f2cf9cba9f712bc1ffeddd47b8907f,0.0,92127264.0,1217967,1.7,1.5,5.0,f,3.0
...,...,...,...,...,...,...,...,...,...,...,...
453301,NaN,REPROVADO POR MÉDIA E POR FALTAS,36e2211c6c16fa38f1e7fef99b10d22f,0.0,92127264.0,57597928,0.0,0.0,47.0,f,1.0
453302,NaN,REPROVADO POR MÉDIA E POR FALTAS,36e2211c6c16fa38f1e7fef99b10d22f,0.0,92127264.0,57597928,0.0,0.0,47.0,f,2.0
453303,NaN,REPROVADO POR MÉDIA E POR FALTAS,36e2211c6c16fa38f1e7fef99b10d22f,0.0,92127264.0,57597928,0.0,0.0,47.0,f,3.0
453304,NaN,REPROVADO POR MÉDIA E POR FALTAS,159926c5f19d6b9565385e9e16d6f438,0.0,92127264.0,57597928,0.0,0.0,51.0,f,1.0
453305,NaN,REPROVADO POR MÉDIA E POR FALTAS,159926c5f19d6b9565385e9e16d6f438,0.0,92127264.0,57597928,0.0,0.0,51.0,f,2.0
453306,NaN,REPROVADO POR MÉDIA E POR FALTAS,159926c5f19d6b9565385e9e16d6f438,0.0,92127264.0,57597928,0.0,0.0,51.0,f,3.0
453307,NaN,REPROVADO POR MÉDIA E POR FALTAS,1c3866519590f129a3cae2ef95c30fbe,0.0,92127264.0,57597928,0.2,0.7,53.0,f,1.0
453308,NaN,REPROVADO POR MÉDIA E POR FALTAS,1c3866519590f129a3cae2ef95c30fbe,0.0,92127264.0,57597928,0.2,0.0,53.0,f,2.0
453309,NaN,REPROVADO POR MÉDIA E POR FALTAS,1c3866519590f129a3cae2ef95c30fbe,0.0,92127264.0,57597928,0.2,0.0,53.0,f,3.0
453310,NaN,APROVADO POR NOTA,6e18f76992457c4d8c48bad107106031,0.0,92127264.0,57597928,6.0,6.8,0.0,f,3.0
453311,NaN,APROVADO POR NOTA,6e18f76992457c4d8c48bad107106031,0.0,92127264.0,57597928,6.0,7.8,0.0,f,2.0
453312,NaN,APROVADO POR NOTA,6e18f76992457c4d8c48bad107106031,0.0,92127264.0,57597928,6.0,3.5,0.0,f,1.0
453313,NaN,REPROVADO POR MÉDIA E POR FALTAS,46fcfa469134e1d7294e54ec241ce9b2,0.0,92127264.0,57597928,0.2,0.5,51.0,f,1.0
453314,NaN,REPROVADO POR MÉDIA E POR FALTAS,46fcfa469134e1d7294e54ec241ce9b2,0.0,92127264.0,57597928,0.2,0.0,51.0,f,3.0
453315,NaN,REPROVADO POR MÉDIA E POR FALTAS,46fcfa469134e1d7294e54ec241ce9b2,0.0,92127264.0,57597928,0.2,0.0,51.0,f,2.0
453316,NaN,REPROVADO POR MÉDIA E POR FALTAS,f22521f1468c4607428cb63e07441fed,0.0,92127264.0,57597928,0.0,0.0,59.0,f,3.0
453317,NaN,REPROVADO POR MÉDIA E POR FALTAS,f22521f1468c4607428cb63e07441fed,0.0,92127264.0,57597928,0.0,0.0,59.0,f,2.0
453318,NaN,REPROVADO POR MÉDIA E POR FALTAS,f22521f1468c4607428cb63e07441fed,0.0,92127264.0,57597928,0.0,0.0,59.0,f,1.0
453319,NaN,REPROVADO POR MÉDIA E POR FALTAS,847e489b0b8c99c0edb33f2ccdff3608,0.0,92127264.0,57597928,0.0,0.0,55.0,f,3.0
453320,NaN,REPROVADO POR MÉDIA E POR FALTAS,847e489b0b8c99c0edb33f2ccdff3608,0.0,92127264.0,57597928,0.0,0.0,55.0,f,1.0
453321,NaN,REPROVADO POR MÉDIA E POR FALTAS,847e489b0b8c99c0edb33f2ccdff3608,0.0,92127264.0,57597928,0.0,0.0,55.0,f,2.0
453322,NaN,REPROVADO,3878dc0f1f55d1f6e658ee148ca776c6,0.0,92127264.0,57597928,0.3,0.9,29.0,f,1.0
453323,NaN,REPROVADO,3878dc0f1f55d1f6e658ee148ca776c6,0.0,92127264.0,57597928,0.3,0.0,29.0,f,2.0
453324,NaN,REPROVADO,3878dc0f1f55d1f6e658ee148ca776c6,0.0,92127264.0,57597928,0.3,0.0,29.0,f,3.0
453325,NaN,CANCELADO,665100eb5bacac5c89aff67cf93923b8,NaN,92127264.0,57597928,NaN,NaN,NaN,NaN,NaN
453326,NaN,DESISTENCIA,500e6edfd4aae0cc92d0931f52794a07,NaN,92127264.0,57597928,NaN,NaN,NaN,NaN,NaN
453327,NaN,DESISTENCIA,6175bb41ff32f3c576f591ead25109e7,NaN,92127264.0,57597928,NaN,NaN,NaN,NaN,NaN
453328,NaN,CANCELADO,1e93a5e40d72e66742db6dd1fecd8413,0.0,92127264.0,57597928,NaN,NaN,NaN,f,1.0
453329,NaN,CANCELADO,1e93a5e40d72e66742db6dd1fecd8413,0.0,92127264.0,57597928,NaN,NaN,NaN,f,2.0
453330,NaN,CANCELADO,1e93a5e40d72e66742db6dd1fecd8413,0.0,92127264.0,57597928,NaN,NaN,NaN,f,3.0

In [12]:
# verificando os dados das turmas
print(turmas_total.columns)
turmas_total.head()

Index(['id_turma', 'codigo_turma', 'id_docente_interno', 'id_docente_externo',
       'observacao', 'id_componente_curricular', 'nivel_ensino',
       'campus_turma', 'local', 'ano', 'periodo', 'data_inicio', 'data_fim',
       'descricao_horario', 'total_solicitacoes', 'capacidade_aluno', 'tipo',
       'distancia', 'data_consolidacao', 'agrupadora', 'id_turma_agrupadora',
       'qtd_aulas_lancadas', 'situacao_turma', 'convenio',
       'modalidade_participantes', 'Unnamed: 25'],
      dtype='object')

,id_turma,codigo_turma,id_docente_interno,id_docente_externo,observacao,id_componente_curricular,nivel_ensino,campus_turma,local,ano,...,tipo,distancia,data_consolidacao,agrupadora,id_turma_agrupadora,qtd_aulas_lancadas,situacao_turma,convenio,modalidade_participantes,Unnamed: 25
0,1196178,01,3.02895e+06,NaN,NaN,50280.0,LATO SENSU,NaN,Campus Universitário - Svf5,2013,...,REGULAR,f,2013-06-19 10:39:05.948,f,NaN,NaN,CONSOLIDADA,NaN,Presencial,NaN
1,1196210,T01,NaN,2264968.0,NaN,52540.0,TÉCNICO,NaN,4F5,2013,...,REGULAR,f,2013-07-04 00:39:55.613,f,NaN,NaN,CONSOLIDADA,NaN,Presencial,NaN
2,1196211,T02,NaN,92721509.0,NaN,52540.0,TÉCNICO,NaN,4C6,2013,...,REGULAR,f,2013-07-04 14:54:29.232,f,NaN,NaN,CONSOLIDADA,NaN,Presencial,NaN
3,1196212,T03,NaN,98388697.0,NaN,52540.0,TÉCNICO,NaN,4F5,2013,...,REGULAR,f,2013-07-05 01:10:34.746,f,NaN,NaN,CONSOLIDADA,NaN,Presencial,NaN
4,1196213,T04,NaN,98388762.0,NaN,52540.0,TÉCNICO,NaN,4C6,2013,...,REGULAR,f,2013-07-04 15:55:08.455,f,NaN,NaN,CONSOLIDADA,NaN,Presencial,NaN

In [6]:
# verificando os dados dos componentes curriculares
print(notas.columns)
notas.head()

NameError: name 'notas' is not defined

In [ ]:
# filtrando as turmas com código IMD
turmas_imd = turmas[turmas.codigo.str.contains("IMD0033")]

# utilizar apenas disciplinas com código "CONSOLIDADA"
turmas_imd = turmas_imd[turmas_imd.situacao_turma == 'CONSOLIDADA']

# resetar os idexes
turmas_imd.reset_index(drop=True, inplace=True)

# visualizar o novo dataset
turmas_imd.head()