In [6]:
import pandas as pd

# turmas 2017.1
turmas = pd.read_csv('turmas-2013.1.csv', sep=';')



# matriculas em componentes
notas = pd.read_csv('matricula-componente-20131.csv', sep=';')

In [7]:
# verificando os dados das turmas
print(turmas.columns)
turmas.head()

Index(['id_turma', 'codigo_turma', 'id_docente_interno', 'id_docente_externo',
       'observacao', 'id_componente_curricular', 'nivel_ensino',
       'campus_turma', 'local', 'ano', 'periodo', 'data_inicio', 'data_fim',
       'descricao_horario', 'total_solicitacoes', 'capacidade_aluno', 'tipo',
       'distancia', 'data_consolidacao', 'agrupadora', 'id_turma_agrupadora',
       'qtd_aulas_lancadas', 'situacao_turma', 'convenio',
       'modalidade_participantes', 'Unnamed: 25'],
      dtype='object')

,id_turma,codigo_turma,id_docente_interno,id_docente_externo,observacao,id_componente_curricular,nivel_ensino,campus_turma,local,ano,...,tipo,distancia,data_consolidacao,agrupadora,id_turma_agrupadora,qtd_aulas_lancadas,situacao_turma,convenio,modalidade_participantes,Unnamed: 25
0,1196178,01,3028953.0,NaN,NaN,50280,LATO SENSU,NaN,Campus Universitário - Svf5,2013,...,REGULAR,f,2013-06-19 10:39:05.948,f,NaN,NaN,CONSOLIDADA,NaN,Presencial,NaN
1,1196210,T01,NaN,2264968.0,NaN,52540,TÉCNICO,NaN,4F5,2013,...,REGULAR,f,2013-07-04 00:39:55.613,f,NaN,NaN,CONSOLIDADA,NaN,Presencial,NaN
2,1196211,T02,NaN,92721509.0,NaN,52540,TÉCNICO,NaN,4C6,2013,...,REGULAR,f,2013-07-04 14:54:29.232,f,NaN,NaN,CONSOLIDADA,NaN,Presencial,NaN
3,1196212,T03,NaN,98388697.0,NaN,52540,TÉCNICO,NaN,4F5,2013,...,REGULAR,f,2013-07-05 01:10:34.746,f,NaN,NaN,CONSOLIDADA,NaN,Presencial,NaN
4,1196213,T04,NaN,98388762.0,NaN,52540,TÉCNICO,NaN,4C6,2013,...,REGULAR,f,2013-07-04 15:55:08.455,f,NaN,NaN,CONSOLIDADA,NaN,Presencial,NaN

In [11]:
# verificando os dados dos componentes curriculares
print(notas.columns)
notas.head()

Index(['id_componente', 'tipo_componente', 'codigo', 'nivel', 'nome',
       'unidade_responsavel', 'ch_teorico', 'ch_pratico', 'ch_estagio',
       'ch_total', 'ch_dedicada_docente', 'ch_ead', 'ementa', 'bibliografia',
       'equivalencia', 'pre_requisito', 'co_requisito', 'objetivos',
       'conteudo', 'competencias_habilidades', 'referencias', 'ano_programa',
       'periodo_programa', 'procedimentos_avaliacao', 'modalidade',
       'curso_componente'],
      dtype='object')

,id_componente,tipo_componente,codigo,nivel,nome,unidade_responsavel,ch_teorico,ch_pratico,ch_estagio,ch_total,...,co_requisito,objetivos,conteudo,competencias_habilidades,referencias,ano_programa,periodo_programa,procedimentos_avaliacao,modalidade,curso_componente
0,18642,DISCIPLINA,MUT721,T,LABORATÓRIOS ELETIVOS,ESCOLA DE MÚSICA,60,0,0,60,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Presencial,NaN
1,18643,DISCIPLINA,MUT508,T,COMPOSIÇÃO EM MÚSICA POPULAR III,ESCOLA DE MÚSICA,60,0,0,60,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Presencial,NaN
2,18644,DISCIPLINA,MUT516,T,CO-REPETIÇÃO,ESCOLA DE MÚSICA,30,0,0,30,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Presencial,NaN
3,18645,DISCIPLINA,MUT520,T,CONTRABAIXO ACÚSTICO I,ESCOLA DE MÚSICA,30,0,0,30,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Presencial,NaN
4,18646,DISCIPLINA,MUT165,T,PIANO COMPLEMENTAR I,ESCOLA DE MÚSICA,15,0,0,15,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Presencial,NaN

In [16]:
# filtrando as turmas com código IMD
turmas_imd = turmas[turmas.codigo.str.contains("IMD0033")]

# utilizar apenas disciplinas com código "CONSOLIDADA"
turmas_imd = turmas_imd[turmas_imd.situacao_turma == 'CONSOLIDADA']

# resetar os idexes
turmas_imd.reset_index(drop=True, inplace=True)

# visualizar o novo dataset
turmas_imd.head()

AttributeError: 'DataFrame' object has no attribute 'codigo'