In [9]:
import pandas as pd

# turmas 2017.1
turmas = pd.read_csv('turmas-2012.1.csv', sep=';')

# matriculas em componentes
notas = pd.read_csv('discentes-2012.csv', sep=';')

In [10]:
# verificando os dados das turmas
print(turmas.columns)
turmas.head()

Index(['id_turma', 'codigo_turma', 'id_docente_interno', 'id_docente_externo',
       'observacao', 'id_componente_curricular', 'nivel_ensino',
       'campus_turma', 'local', 'ano', 'periodo', 'data_inicio', 'data_fim',
       'descricao_horario', 'total_solicitacoes', 'capacidade_aluno', 'tipo',
       'distancia', 'data_consolidacao', 'agrupadora', 'id_turma_agrupadora',
       'qtd_aulas_lancadas', 'situacao_turma', 'convenio',
       'modalidade_participantes', 'Unnamed: 25'],
      dtype='object')

,id_turma,codigo_turma,id_docente_interno,id_docente_externo,observacao,id_componente_curricular,nivel_ensino,campus_turma,local,ano,...,tipo,distancia,data_consolidacao,agrupadora,id_turma_agrupadora,qtd_aulas_lancadas,situacao_turma,convenio,modalidade_participantes,Unnamed: 25
0,57593168,01,26652.0,NaN,NaN,61150,TÉCNICO,NaN,Sala 24,2017,...,REGULAR,f,2017-07-03 19:50:39.259,f,NaN,26.0,CONSOLIDADA,NaN,Presencial,NaN
1,57593169,02,21707.0,NaN,NaN,61150,TÉCNICO,NaN,Sala 24,2017,...,REGULAR,f,2017-07-05 08:17:47.229,f,NaN,34.0,CONSOLIDADA,NaN,Presencial,NaN
2,57593170,01,21707.0,NaN,NaN,61152,TÉCNICO,NaN,Sala 24,2017,...,REGULAR,f,NaN,f,NaN,NaN,EXCLUÍDA,NaN,Presencial,NaN
3,57593172,01,5752921.0,NaN,Disciplina destinada aos alunos ingressantes a...,18814,TÉCNICO,NaN,Sala 25,2017,...,REGULAR,f,NaN,f,NaN,NaN,EXCLUÍDA,NaN,Presencial,NaN
4,57593173,01,5752917.0,NaN,NaN,18773,TÉCNICO,NaN,LAMUCO,2017,...,REGULAR,f,2017-07-05 17:37:03.708,f,NaN,36.0,CONSOLIDADA,NaN,Presencial,NaN

In [11]:
# verificando os dados dos componentes curriculares
print(notas.columns)
notas.head()

Index(['id_componente', 'tipo_componente', 'codigo', 'nivel', 'nome',
       'unidade_responsavel', 'ch_teorico', 'ch_pratico', 'ch_estagio',
       'ch_total', 'ch_dedicada_docente', 'ch_ead', 'ementa', 'bibliografia',
       'equivalencia', 'pre_requisito', 'co_requisito', 'objetivos',
       'conteudo', 'competencias_habilidades', 'referencias', 'ano_programa',
       'periodo_programa', 'procedimentos_avaliacao', 'modalidade',
       'curso_componente'],
      dtype='object')

,id_componente,tipo_componente,codigo,nivel,nome,unidade_responsavel,ch_teorico,ch_pratico,ch_estagio,ch_total,...,co_requisito,objetivos,conteudo,competencias_habilidades,referencias,ano_programa,periodo_programa,procedimentos_avaliacao,modalidade,curso_componente
0,18642,DISCIPLINA,MUT721,T,LABORATÓRIOS ELETIVOS,ESCOLA DE MÚSICA,60,0,0,60,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Presencial,NaN
1,18643,DISCIPLINA,MUT508,T,COMPOSIÇÃO EM MÚSICA POPULAR III,ESCOLA DE MÚSICA,60,0,0,60,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Presencial,NaN
2,18644,DISCIPLINA,MUT516,T,CO-REPETIÇÃO,ESCOLA DE MÚSICA,30,0,0,30,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Presencial,NaN
3,18645,DISCIPLINA,MUT520,T,CONTRABAIXO ACÚSTICO I,ESCOLA DE MÚSICA,30,0,0,30,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Presencial,NaN
4,18646,DISCIPLINA,MUT165,T,PIANO COMPLEMENTAR I,ESCOLA DE MÚSICA,15,0,0,15,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Presencial,NaN

In [16]:
# filtrando as turmas com código IMD
turmas_imd = turmas[turmas.codigo.str.contains("IMD0033")]

# utilizar apenas disciplinas com código "CONSOLIDADA"
turmas_imd = turmas_imd[turmas_imd.situacao_turma == 'CONSOLIDADA']

# resetar os idexes
turmas_imd.reset_index(drop=True, inplace=True)

# visualizar o novo dataset
turmas_imd.head()

AttributeError: 'DataFrame' object has no attribute 'codigo'